# Environnements virtuels
.venv/
venv/
env/

# Outputs
output/
outputs/
figures/
output/paddleocr_simple

# Data
data/
data/data_test_not_to_git

# Fichiers système
.DS_Store
__pycache__/
*.pyc

# Autres
notes_ocr_memoire.md
scripts_notebooks/paddleocr_vl_test.py
scripts_notebooks/paddleocr_cpu_simple.py
scripts_notebooks/pdf2image.py
