# Environnements virtuels
.venv/
venv/
env/

# Outputs
figures/
output/paddleocr_simple
output/paddleocr_vl_test

# Data
data/data_not_to_git
data/test_png_from_pdf
data/test_tiff_from_pdf

# Fichiers système
.DS_Store
__pycache__/
*.pyc

# Autres
notes_ocr_memoire.md
scripts_notebooks/paddleocr_vl_test.py
scripts_notebooks/paddleocr_cpu_simple.py
scripts_notebooks/pdf2image.py
